client/public/workflows/Facebook Autopost with Ai.json
{
  "name": "Ai genarated fb post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 17
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        112
      ],
      "id": "1cee8eed-da80-4a83-9db4-81fc27cba99d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I",
          "mode": "list",
          "cachedResultName": "Facebook Auto Post Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "Image",
            "Caption": "={{ JSON.parse($node[\"Auto Generate Caption & Image prompt\"].json.output.replace(/```json|```/g, \"\")).caption }}",
            "Media URL": "={{ $json.data.url }}",
            "Status": "Posted",
            "Posted Date": "={{ $now.format('dd MMM yyyy') }}",
            "Posted Time": "={{ $now.format('hh:mm a') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Media URL",
              "displayName": "Media URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted Date",
              "displayName": "Posted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted Time",
              "displayName": "Posted Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        16
      ],
      "id": "75045819-0bc1-44e2-bdc0-88451096706d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtF0PDlOyuWI3yOm",
          "name": "ChatBoy"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6138633976",
        "text": "=TYPE: {{ $json.Type }}\nCAPTION: {{ $json.Caption }}\nMEDIA URL : {{ $json['Media URL'] }} \nSTATUS: {{ $json.Status }}\nPOSTED DATE: {{ $now.format('dd MMM yyyy') }}\nPOSTED TIME: {{ $now.format('hh:mm a') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        16
      ],
      "id": "38f452e2-238b-4b9c-b3cd-4a5e1f4c5cb2",
      "name": "Send a text message",
      "webhookId": "c9f4109c-1645-461c-8f34-c3964c2c77f6",
      "credentials": {
        "telegramApi": {
          "id": "Wm1y96RGxkT6pdjj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/975965988929117/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ JSON.parse($node[\"Auto Generate Caption & Image prompt\"].json.output.replace(/```json|```/g, \"\")).caption }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        208
      ],
      "id": "b7a570f8-fafd-450a-be34-4b8efdea1595",
      "name": "For Facebook post",
      "credentials": {
        "facebookGraphApi": {
          "id": "Jz01M88ivs83a0hu",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze {{ $json.data }} and generate the JSON now. Keep it very short to ensure the output is finished.",
        "options": {
          "systemMessage": "=You are an expert Social Media Content Creator.\nTask: Create a detailed, engaging Facebook post in Bengali.\n\nSTRICT OUTPUT RULES:\n1. Provide ONLY a raw JSON object. No markdown like ```json.\n2. The \"caption\" MUST be between 3 to 5 lines long. \n3. Include an engaging opening line, a middle paragraph with value, and 3-5 relevant hashtags at the end.\n4. The \"image_prompt\" must be a clear, English description for a high-quality 3D tech/business image.\n\nJSON Structure:\n{\n  \"caption\": \"আপনার ৩-৫ লাইনের বিস্তারিত বাংলা ক্যাপশন এখানে থাকবে... #hashtag1 #hashtag2\",\n  \"image_prompt\": \"Generate a 3D high-quality image prompt. Change the lighting, camera angle, and environment for every request (e.g., Cinematic, Minimalist, Cyberpunk, or Professional Office setting).\"\nCRITICAL RULE: \n- Each post must be unique and different from previous ones. \n- Do not repeat the same phrases or image styles. \n- Use a different perspective (e.g., one day focus on motivation, another day on technical tips, or industry news).\n- Current Seed: {{ Math.random() }}\n}\nReturn ONLY the raw JSON object starting with { and ending with }. Do not add any conversational text before or after\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -768,
        0
      ],
      "id": "e86fb798-2182-4210-a990-2148c8305af5",
      "name": "Auto Generate Caption & Image prompt"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/me/posts?fields=message,reactions.summary(true)&limit=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        112
      ],
      "id": "21d4e2b8-a396-4195-91e8-67ec2b8f0fda",
      "name": "Take Data From My Page",
      "credentials": {
        "facebookGraphApi": {
          "id": "Jz01M88ivs83a0hu",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "Text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76a3c291-86a5-4e48-9596-0811e5efcb78"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "For Text post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "954bf9c7-8a02-449a-9566-69ac0283f57e",
                    "leftValue": "={{ $json.Type }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "For Image post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -768,
        528
      ],
      "id": "108bf36d-e1ee-471d-87c4-b8dbad889dbd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I",
          "mode": "list",
          "cachedResultName": "Facebook Auto Post Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Data Input Sheet').item.json.row_number }}",
            "Status": "Posted",
            "Posted Time": "={{ $now.format('hh:mm a') }}",
            "Posted Date": "={{ $now.format('dd MMM yyyy') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Media URL",
              "displayName": "Media URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Posted Date",
              "displayName": "Posted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Posted Time",
              "displayName": "Posted Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        624
      ],
      "id": "8d94ee33-c811-4ee0-97f9-9ab95dc4a7b3",
      "name": "Status, Date & Time",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtF0PDlOyuWI3yOm",
          "name": "ChatBoy"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6138633976",
        "text": "=Status:{{ $json.Status }}\nPosted Date:{{ $json['Posted Date'] }}\nPosted Time:{{ $json['Posted Time'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        624
      ],
      "id": "548de60c-1e58-43d7-8826-574f5204ccb9",
      "name": "Send a text message1",
      "webhookId": "07aa7a81-cf20-494d-ba56-507ff4ec9264",
      "credentials": {
        "telegramApi": {
          "id": "Wm1y96RGxkT6pdjj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6138633976",
        "text": "=Status:{{ $json.Status }}\nPosted Date:{{ $json['Posted Date'] }}\nPosted Time:{{ $json['Posted Time'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        432
      ],
      "id": "3593cdb1-0952-4bab-b289-09b41dac617b",
      "name": "Send a text message2",
      "webhookId": "07aa7a81-cf20-494d-ba56-507ff4ec9264",
      "credentials": {
        "telegramApi": {
          "id": "Wm1y96RGxkT6pdjj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I",
          "mode": "list",
          "cachedResultName": "Facebook Auto Post Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Data Input Sheet').item.json.row_number }}",
            "Status": "Posted",
            "Posted Time": "={{ $now.format('hh:mm a') }}",
            "Posted Date": "={{ $now.format('dd MMM yyyy') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Media URL",
              "displayName": "Media URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Posted Date",
              "displayName": "Posted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Posted Time",
              "displayName": "Posted Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        432
      ],
      "id": "c5bbed9e-9926-44ac-af32-b9f998a53a20",
      "name": "Status, Date & Time1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtF0PDlOyuWI3yOm",
          "name": "ChatBoy"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Media URL'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        624
      ],
      "id": "3a6885ed-f2e9-4252-8350-2aebae44c5b1",
      "name": "Image Downloader"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/975965988929117/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Data Input Sheet').item.json.Caption }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        624
      ],
      "id": "d0215a59-1a5a-4be8-b780-720116d88ac1",
      "name": "Auto poster for Image",
      "credentials": {
        "facebookGraphApi": {
          "id": "Jz01M88ivs83a0hu",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/975965988929117/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Data Input Sheet').item.json.Caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        432
      ],
      "id": "acbd675d-0980-4ce2-b6c3-96f5a711854a",
      "name": "Auto poster for Text",
      "credentials": {
        "facebookGraphApi": {
          "id": "Jz01M88ivs83a0hu",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I",
          "mode": "list",
          "cachedResultName": "Facebook Auto Post Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11HC_2873T8EAEgs7IO5UhDIz_mhO-2yhiV8tihbdi1I/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        528
      ],
      "id": "7dbf496b-b3d7-4fab-bca7-c3cb5e8a91f8",
      "name": "Data Input Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtF0PDlOyuWI3yOm",
          "name": "ChatBoy"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        224
      ],
      "id": "3b3b7faf-1f86-494c-867a-87d5e947a37a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TH6fO1VBSFz8h19u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "5649ecf09be9bae5c6e137867a5f18ce"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        16
      ],
      "id": "315a8ac7-3f2f-4479-b306-e8be1f8c5877",
      "name": "For generate Url"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        224
      ],
      "id": "234324f5-ff73-4eea-a0cc-f5d70fde2d68",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "Accept",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.image_prompt }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        112
      ],
      "id": "30bf16e2-f66a-4020-8fef-20ecbcc6ef2b",
      "name": "AI Image Generator",
      "retryOnFail": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        528
      ],
      "id": "2f994d0e-8dc0-4861-bba3-2e46bb326f27",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6a7da1a-5408-4bdc-b695-7e98e159da6b",
              "name": "caption",
              "value": "={{ JSON.parse($json.output).caption }}",
              "type": "string"
            },
            {
              "id": "6f43ede4-6702-4344-b486-10333648a221",
              "name": "image_prompt",
              "value": "={{ JSON.parse($json.output).image_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        112
      ],
      "id": "6c8c50ef-06d2-46fe-ba4b-a2044911bce0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Take Data From My Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Generate Caption & Image prompt": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Data From My Page": {
      "main": [
        [
          {
            "node": "Auto Generate Caption & Image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Auto poster for Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Downloader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status, Date & Time": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status, Date & Time1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Downloader": {
      "main": [
        [
          {
            "node": "Auto poster for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto poster for Image": {
      "main": [
        [
          {
            "node": "Status, Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto poster for Text": {
      "main": [
        [
          {
            "node": "Status, Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Input Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto Generate Caption & Image prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "For generate Url": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Auto Generate Caption & Image prompt",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Image Generator": {
      "main": [
        [
          {
            "node": "For generate Url",
            "type": "main",
            "index": 0
          },
          {
            "node": "For Facebook post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Data Input Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "419d68a8-4ecc-4587-ad12-bb846162b082",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9d44adb1d2fd34a277e8ea0c2474d4f61c7671809bfe14ce66a4c2d573e5f89"
  },
  "id": "d5rkU6UkaPjNPxwd",
  "tags": []
}